@import '../../styles/variables';

.widget {
  position: relative;
  max-width: 300px;
  margin: 15px 0 0 20px;
  padding: 15px;
  background-color: #f5f8fa;
  border-radius: 20px;
  box-sizing: border-box;
  transition: $transition-duration ease-in-out;

  @media (max-width: 767px) {
    position: fixed;
    top: 70px;
    right: -350px;

    &--active {
      right: 15px;
    }
  }

  @media (max-width: 559px) {
    width: 290px;
  }

  &__title {
    font-size: 18px;
    font-weight: 800;
  }
}

.twitter-timeline {
  @media (max-width: 767px) {
    height: 230px !important;
  }
}

.twitter-share-button {
  padding-top: 10px;
}
